@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.text{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    position: absolute;
    top: 300px;
}
.text h1,h3{
    font-size: 4rem;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    animation: moveInLeft 1s ease-out;
    /* animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
    /* animation-iteration-count: 3;
    animation-delay: 3s; */
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px) 
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}