*{
  margin: 0;
  padding: 0; 
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
body{
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh;
}
.navbar{
  background-color: #A457BF !important;
}
.navbar a{
  color: #FFFEFE !important;
  text-decoration: none;
}
.nav a:hover{
  color: #C5A7D9 !important;
}
.nav{
  font-size: 2.5rem;
}
.navbar-nav {
  padding: 0 20px;
}
.navbar-brand{ 
  font-size: 2rem;
  font-style: italic;
  font-weight: 700px;
  padding: 15px;
}